.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.picker {
  display: inline;
}

ul {
  padding-left: 10px;
}

img {
  margin: 5px;
}

li {
  list-style: none;
  margin: 5px;
}

input[type='checkbox'] {
  margin: 4px;
}

.date-collection, .media-player {
  padding: 8px;
  border: 1px solid black;
}

.search > * {
  display: inline-block;
  margin: 8px;
}

.range input {
  width: 40px;
}

.search-and-selected {
  padding: 10px;
  width: 510px;
  vertical-align: top;
}

.results {
  padding: 10px;
  vertical-align: top;
}

.results > div {
  height: 700px;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
